body{
  background-color: orange;
  display: flex;
  justify-content: center;
}
li{
  display: flex;
  flex-direction: column;
}

section{
  height: 90vh;
  width: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: papayawhip;
}

h1{
  color: black;
  text-decoration: bold;
}